


.text-custom {
    color: $custom !important;
}

.bg-custom{
    background-color: $custom;
}

.btn {
    padding: 12px 25px;
    border: 1px solid;
    font-size: 12px;
    transition: all 0.5s;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    box-shadow: none !important;
}

.btn-sm {
    padding: 8px 22px;
}

.btn-custom {
    background: $custom;
    color: $white;
    border-color: $custom;
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active,
.btn-custom.focus,
.btn-custom:active,
.btn-custom:focus,
.btn-custom:hover,
.open > .dropdown-toggle.btn-custom {
    outline: none;
    text-decoration: none;
    color: $white;
}

.btn-outline {
    color: $custom;
    border-color: $custom;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active,
.btn-outline.focus,
.btn-outline:active,
.btn-outline:focus,
.btn-outline:hover,
.open > .dropdown-toggle.btn-outline {
    outline: none;
    text-decoration: none;
    color: $white;
    background-color: $custom;
}