

//  title 

.title-icon {
    &:before {
        content: "";
        position: absolute;
        width: 122px;
        height: 2px;
        background: #ff4f6c;
        left: 0px;
        right: 0px;
        top: 50%;
        transform: translateY(-50%);
        margin: 0px auto;
    }
}

.bg-home {
    background-image: url("../images/bg-home.jpg");
    padding: 260px 0px 135px 0px;
    background-size: cover;
    position: relative;
    background-position: center center;
}
.home-center {
    display: table;
    width: 100%;
    height: 100%;
}
.home-desc-center {
    display: table-cell;
    vertical-align: middle;
}
.home-title {
    h1 {
        letter-spacing: 2px;
        font-size: 3rem;
        text-shadow: 3px 2px 7px rgba(26, 24, 24, 0.7);
    }
    .small-title {
        letter-spacing: 2px;
    }
}

.home-registration-form {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 7px;
}

.registration-form-box {
    position: relative;
    .selectize-input {
        line-height: 2.4;
        padding: 6px 6px 6px 45px;
    }
}

.registration-form-box {
    i {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 12px;
        z-index: 2;
        color: $muted;
    }
}



.registration-input-box {
    border: none;
    box-shadow: none !important;
    font-size: 13px;
    height: 45px !important;
    padding: 6px 6px 6px 45px;
    border: 1px solid #d0d0d0;
}


.selectize-control {
    line-height: 0.8;
}

.popu-category-box {
    i {
        display: inline-block;
        width: 64px;
        height: 64px;
        line-height: 64px;
        background: lighten($custom,30%);
        border-radius: 50%;
    }
}

.popu-category-content {
    p {
        background: $light;
        padding: 2px 0px;
    }
}
.job-tab {
    .nav-item {
        background: $white;
        .nav-link {
            padding: 0.7rem 2rem;
            color: $muted;
            font-size: 14px
        }
    }
}


.job-tab .nav-link.active,
.job-tab .show>.nav-link {
    color: $white;
    background-color: $custom;
}

.job-box {
    box-shadow: 0 -3px 31px 0 rgba(0, 0, 0, 0.03), 0 6px 20px 0 rgba(0, 0, 0, 0.02);
    border-radius: 9px;
    overflow: hidden;
}

.badge {
    padding: .45em .8em;
    font-weight: 400;
}

.pagination.job-pagination {
    .page-link {
        border-radius: 50% !important;
        margin: 0 4px;
        height: 46px;
        width: 45px;
        line-height: 29px;
        text-align: center;
        color: $muted;
    }
}

.page-item.active {
    .page-link {
        background-color: $custom;
        border-color: $custom;
        color: $white !important;
    }
}

.how-it-work-img {
    img {
        max-width: 70px;
    }
    p {
        display: inline-block;
        background: $white;
        width: 28px;
        height: 28px;
        border-radius: 50%;
        position: absolute;
        top: -10px;
        left: 54px;
        right: 0;
        margin: 0px auto;
        box-shadow: 0 -3px 31px 0 rgba(0, 0, 0, 0.03), 0 6px 20px 0 rgba(0, 0, 0, 0.02);
    }
}

.how-it-work-box {
    .how-it-work-img {
        background-color: $custom;
        border-radius: 50px;
        height: 90px;
        width: 90px;
        position: relative;
        margin: 0 auto;
        padding: 12px 8px;
    }
}

.bg-counter {
    background-image: url("../images/bg-counters.jpg");
    background-size: cover;
    position: relative;
    background-position: center center;
}

.counter-content {
    overflow: hidden;
}

.testi-box {
    border-radius: 10px;
}

.testi-img {
    img {
        max-width: 64px;
    }
}

.testi-icon {
    i {
        position: absolute;
        right: 18px;
        color: darken($light, 4%);
        bottom: 0px;
    }
}

.owl-theme {
    .owl-controls {
        .owl-page {
            span {
                height: 8px;
                background: $custom;
            }
        }
    }
}

.client-images {
    img {
        max-width: 168px;
        margin: 18px auto;
        opacity: 0.4;
        transition: all 0.5s;
    }
}

.blog-box {
    box-shadow: 0 -3px 31px 0 rgba(0, 0, 0, 0.03), 0 6px 20px 0 rgba(0, 0, 0, 0.02);
    overflow: hidden;
    border-radius: 8px;
}


@media (min-width: 200px) and (max-width: 768px) {
    .registration-form-box {
        margin-bottom: 10px;
    }

    .bg-home {
        padding: 140px 0px 120px 0px;
    }
    .home-title {
        h1 {
            font-size: 32px;
        }
    }
}

@media (max-width: 425px) {
    .mo-mb-2 {
        margin-bottom: .5rem !important;
    }
    #counter {
        .counter-icon {
            float: none !important;
            margin: 0 !important;
        }
        .home-counter {
            text-align: center;
        }
    }
    .subscribe {
        input {
            margin: 12px 0;
        }
    }
    .pagination {
        li {
            >a {
                height: 36px;
                width: 36px;
                line-height: 36px;
            }
        }
    }
}

@media (max-width: 1024px) {
    .testi-icon {
        i {
            display: none;
        }
    }
}