

.post-a-job-bg {
    padding: 180px 0px 80px 0px;
    background-image: url("../images/post-a-job-bg.jpg");
    background-size: cover;
    position: relative;
    background-position: center center;
}

.post-job {
    box-shadow: 0 0 10px rgba(70, 70, 70, 0.15);
    border-radius: 5px;
}

.custom-file-label {
    &:after {
        display: none;
    }
}

.custom-file {
    max-width: 140px;
}